/* wrapper element is in BoardListItem */
.AddCard {
  & .btn-card-open {
    width: 100%;
    padding: 6px 12px 6px 8px;
    text-align: left;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    border-radius: 8px;
    & .icon-plus {
      font-size: 18px;
    }
    &:hover {
      background-color: #091e4224;
    }
    &:active {
      background-color: #091e424f;
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    & textarea {
      width: 100%;
      border-radius: 8px;
      box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
      border: none;
      resize: none;
      padding: 8px 12px;
      min-height: 36px;
      max-height: 160px;
      &::placeholder {
        font-size: 12px;
        letter-spacing: 0.2px;
      }
      &:focus {
        outline: none;
      }
    }
    & .form-control {
      display: flex;
      gap: 0.5rem;
      & button:first-of-type {
        color: #ffffff;
        padding: 6px 12px;
        border: none;
        border-radius: 3px;
        background-color: #0c66e4;
        font-weight: 600;
        letter-spacing: 0.8px;
        &:hover {
          background-color: #0055cc;
          cursor: pointer;
        }
        &:active {
          background-color: #09326c;
        }
      }
      & button:last-child {
        font-size: 1.6rem;
        padding: 4px 10px;
        border: none;
        border-radius: 4px;
        &:hover {
          background-color: #091e4224;
          cursor: pointer;
        }
        &:active {
          background-color: #091e424f;
        }
        /* padding: 6px 12px; */
      }
    }
  }
}
