.AddList {
  width: 272px;

  .open-form {
    color: #ffffff;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background-color: #ffffff3d;
    padding: 1rem;
    border-radius: 12px;
    margin-right: 1rem;
    &:hover {
      background-color: #a6c5e229;
      cursor: pointer;
    }
  }
  .add-list-form {
    background-color: #f1f2f4;
    padding: 8px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-right: 1rem;
    & input {
      width: 100%;
      padding: 6px 12px;
      border-radius: 4px;
      border: none;
      background-color: transparent;
      &:hover {
        background-color: #ffffff;
        box-shadow: inset 0 0 0 2px #091e4224;
      }

      &::placeholder {
        color: #172b4d;
        font-weight: 600;
      }
    }
    & .form-control {
      display: flex;
      gap: 0.5rem;
      & button:first-of-type {
        color: #ffffff;
        padding: 6px 12px;
        border: none;
        border-radius: 3px;
        background-color: #0c66e4;
        font-weight: 600;
        letter-spacing: 0.8px;
        &:hover {
          background-color: #0055cc;
          cursor: pointer;
        }
        &:active {
          background-color: #09326c;
        }
      }
      & button:last-child {
        font-size: 1.6rem;
        padding: 4px 10px;
        border: none;
        border-radius: 4px;
        &:hover {
          background-color: #091e4224;
          cursor: pointer;
        }
        &:active {
          background-color: #091e424f;
        }
        /* padding: 6px 12px; */
      }
    }
  }
}
