.BoardOverview {
  margin-top: 2rem;
  & h1 {
    margin-bottom: 1rem;
  }
  & .board-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    & .board-card {
      width: 250px;
      height: 150px;
      background-color: rgba(128, 128, 128, 0.703);
      display: grid;
      place-items: center;
      border-radius: 5px;
    }
  }
}
