.BoardList {
  padding: 2rem;
  /* flex-grow: 1; */
  height: 100%;
  overflow-x: auto;

  & .list-container {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    color: hsl(218, 54%, 20%);
    height: 100%;
    /* overflow-x: scroll; */
  }
}
