.WorkSpace {
  min-width: 250px;
  max-width: 300px;
  background-color: var(--primary-background);
  padding: 1rem;
  & .container-status {
    background-color: rgb(255, 221, 0);
    color: black;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    letter-spacing: 1px;
    text-align: justify;
    & #info-icon {
      font-size: 28px;
    }
  }
}
