* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font variables */
  --primary-font: "Roboto", sans-serif;

  /* color variables */
  --primary-navigation-color: #ffffff;
  --primary-horizontal-hover-color: #a6c5e229;

  --primary-background: #ac4b7a;

  /* spacing variables */

  --m-1: 0.5rem;
  --m-2: 0.75rem;
  --m-3: 1rem;
  --m-4: 1.25rem;

  --p-1: 0.5rem;
  --p-2: 0.75rem;
  --p-3: 1rem;
  --p-4: 1.25rem;

  /* root styes */
  font-family: var(--primary-font);

  /* this was a bad idea, we have to fix that later  */
  font-size: 0.875rem;
}

body {
  overflow-y: hidden;
}
